* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Jetbrains mono;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #374A4A;
background: linear-gradient(0deg, rgba(55, 74, 74, 1) 25%, rgba(67, 90, 90, 1) 81%, rgba(80, 106, 106, 1) 100%);
	
}

#workspaces button {
    transition: none;
    color: #182222;
    background: transparent;
    padding: 5px;
    font-size: 18px;
}

#workspaces button.persistent {
    color: #7c818c;
    font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: 10px;
    color: #383c4a;
    
}

#workspaces button.focused {
    color: white;
	background: #182222;
	border-radius: 10px;
background: linear-gradient(180deg, rgba(55, 74, 74, 1) 25%, rgba(67, 90, 90, 1) 81%, rgba(80, 106, 106, 1) 100%);
}

#language {
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #383729;
    background: #7B795C;
background: linear-gradient(0deg, rgba(123, 121, 92, 1) 25%, rgba(150, 149, 112, 1) 81%, rgba(176, 174, 133, 1) 100%);
}

#keyboard-state {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #383729;
background: #7B795C;
background: linear-gradient(0deg, rgba(123, 121, 92, 1) 25%, rgba(150, 149, 112, 1) 81%, rgba(176, 174, 133, 1) 100%);
}

#custom-pacman {
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#custom-mail {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#mode {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #392929;
    background: #7B5C5C;
background: linear-gradient(0deg, rgba(123, 92, 92, 1) 25%, rgba(150, 112, 112, 1) 81%, rgba(176, 133, 133, 1) 100%);
}

#custom-spotify {
    padding-right: 16px;
	padding-left: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
	background: #4A624A;
background: linear-gradient(0deg, rgba(74, 98, 74, 1) 25%, rgba(90, 120, 90, 1) 81%, rgba(106, 141, 106, 1) 100%);
	color: #212D21;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #404040;
    background: #B8B8B8;
background: linear-gradient(0deg, rgba(184, 184, 184, 1) 25%, rgba(208, 208, 207, 1) 81%, rgba(233, 233, 233, 1) 100%);
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #404040;
    background: #B8B8B8;
background: linear-gradient(0deg, rgba(184, 184, 184, 1) 25%, rgba(208, 208, 207, 1) 81%, rgba(233, 233, 233, 1) 100%);
}

#temperature {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #404040;
    background: #B8B8B8;
background: linear-gradient(0deg, rgba(184, 184, 184, 1) 25%, rgba(208, 208, 207, 1) 81%, rgba(233, 233, 233, 1) 100%);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
